.btn-new {
    background-color: #2bc73f;
    color: #fff;
    font-size: 18px;
}

.btn-new:hover {
    background-color: #2bc73f;
    color: #fff;
}

.btn-filter {
    background-color: #fff;
    color: #2bc73f;
}

.btn-filter:hover {
    background-color: #fff;
    color: #2bc73f;
}

.btn-filter:hover,
.btn-new:hover {
    border: 0px solid #2bc73f;
}

.btn-filter:not(:hover),
.btn-new:not(:hover) {
    border: 0px solid #2bc73f;
}

.card-noborder {
    border: 0px;
}

.b-radius {
    border-radius: 10px;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-custom tr td img {
    border-radius: 8px !important;
    width: 35px !important;
    min-width: 35px !important;
    height: 35px !important;
}

.table-custom tr th {
    color: #d0d0d0;
}

.search-dropdown {
    width: 300px !important;
}

.search-dropdown input {
    margin-left: 15px !important;
}

.list-date li {
    list-style-type: none;
    margin: 15px 0px;
    font-size: 12px !important;
}

.ammount-box {
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    padding: 8px 10px 10px 8px;
    text-align: center;
    vertical-align: middle;
}

.td-1 {
    width: 250px;
}

.td-2 {
    width: 180px;
}

.td-3 {
    width: 120px;
}

.td-4 {
    width: 200px;
}

.big-font {
    font-size: 16px;
}

.txt-light {
    color: #a3a3a3;
}

.bg-green {
    color: #19d895;
    background-color: rgba(25, 216, 149, 0.2);
    border-color: rgba(25, 216, 149, 0);
}

.print-icon {
    color: #2bc73f;
    font-size: 18px;
}

.calendar-icon {
    color: #2bc73f;
    font-size: 14px;
}

.btn-print {
    color: #000;
    font-weight: bold;
    background-color: #fff;
    border-radius: 5px;
}

.offset-col-1 {
    margin-left: 8.33333%;
}

.form-check-label {
    margin-bottom: 15px !important;
}

.period-select {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.time-input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn-export,
.btn-export:hover {
    border: 1px solid #ced4da;
    color: #2bc73f;
    font-weight: bold;
}

.form-control.search-barang {
    border: none;
    height: 40px;
    border-radius: 5px;
}
.shadow-sm {
    border-radius: 5px;
}
.input-group-append {
    border-radius: 5px;
    height: 40px;
}
.btn-search {
    background-color: #fff;
    color: #2bc73f;
    border-radius: 5px;
}

.btn-search:hover {
    background-color: #fff;
    color: #21a032;
}
